{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}


<body class="home-page-body">
    {% block content %}

    <div class="container">
        <!-- TOP NAVIGATION BAR -->
        <nav class="flexed">
            <div class="nav-wrapper flexed">
                <a href="#" class="top-logo">
                    <img src="{% static 'images/logo.png' %}" alt="SAVA Logo">
                </a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!-- <li><a href="#">Contact</a></li>
                    <li><a href="#">Prices</a></li>
                    <li><a href="#">What We Do</a></li> -->
                </ul>
            </div>
        </nav>

        <!-- CONTACT FORM AND OPTIONS -->
        <div class="center-block-wrap flexed">

            <!-- FORM SIDE -->
            <div class="contact-form-wrap flexed col-md-6"></div>

            <!-- SERVICES SIDE -->
            <div class="services-wrap flexed col-md-6">
                <div class="service-cards flexed">
                    <div class="service-card-info flexed">
                        <h5>BASIC</h5>
                    </div>
                    <div class="service-card-price flexed">
                        <h6 class="price-text">
                            £20.00<br>
                            <span>p/h</span>
                        </h6>
                    </div>
                </div>
                <div class="service-cards flexed">
                    <div class="service-card-info flexed">
                        <h5>PROFESSIONAL</h5>
                    </div>
                    <div class="service-card-price flexed">
                        <h6 class="price-text">
                            £20.00<br>
                            <span>p/h</span>
                        </h6>
                    </div>
                </div>
                <div class="service-cards flexed">
                    <div class="service-card-info flexed">
                        <h5>LIFE</h5>
                    </div>
                    <div class="service-card-price flexed">
                        <h6 class="price-text">
                            £20.00<br>
                            <span>p/h</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- @remember: This will only loop through the "home_page_panels" in your "HomePage" class in home/models.py -->
    {% for home_block in page.home_page_panels  %}
    {% include_block home_block %}
    {% endfor %}
    <!-- @remember: This will only loop through the "home_page_panels" in your "HomePage" class in home/models.py -->

    {% endblock content %}
</body>