{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}


<body class="home-page-body">
    {% block content %}

    <div class="container">
        <!-- TOP NAVIGATION BAR -->
        <nav class="flexed">
            <div class="nav-wrapper flexed">
                <a href="#" class="top-logo">
                    <img src="{% static 'images/logo.png' %}" alt="SAVA Logo">
                </a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!-- <li><a href="#">Contact</a></li>
                    <li><a href="#">Prices</a></li>
                    <li><a href="#">What We Do</a></li> -->
                </ul>
            </div>
        </nav>

        <!-- CONTACT FORM AND OPTIONS -->
        <div class="center-block-wrap flexed">

            <!-- FORM SIDE -->
            <div class="contact-form-wrap flexed col-md-6">
                
            </div>

            <!-- SERVICES SIDE -->
            <div class="services-wrap flexed col-md-6">

                <!-- @remember: This will only loop through the "home_page_panels" in your "HomePage" class in home/models.py -->
                {% for home_block in page.home_page_panels  %}
                {% include_block home_block %}
                {% endfor %}
                <!-- @remember: This will only loop through the "home_page_panels" in your "HomePage" class in home/models.py -->

            </div>
        </div>
    </div>


    {% endblock content %}
</body>