/* 
==============
LITTLE HELPERS
==============
*/

.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redborder {
    border: 1px solid red;
}

.blueborder {
    border: 1px solid blue;
}

.yellowborder {
    border: 1px solid yellow;
}

body,
html {
    background-color: #EDE4DF;
    color: #333;
    scroll-behavior: smooth;
    visibility: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-scrollbar {
    visibility: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    color: #333;
    opacity: 0.3;
    transition: 0.3s;
}

/* 
==============
MAIN HOME PAGE
==============
*/

.home-page-body {
    height: 100vh;
}

.container {
    padding: 0;
}

nav {
    height: 200px;
    background-color: transparent;
    box-shadow: none;
}

.nav-wrapper {
    margin: 0;
    width: 100%;
}



.top-logo {
    width: 100%;
    height: fit-content;

    color: #333;
    padding: 0;
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    flex-flow: column;
    text-align: left;


}

.top-logo div {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;

}

/* 
==================
CENTER BLOCK STUFF
==================
*/

.center-block-wrap {
    position: relative;
    height: 671px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 15px 0px;
    overflow: auto !important;
    flex-flow: row;

}

.form-section {
    height: 100vh;
}

.contact-form-wrap {
    height: fit-content;
    padding: 15px;
    flex-flow: column;

}

.contact-form {
    height: 100%;
    width: 50%;
    /* transform: translateY(200%); */

}

.form-blurb {
    margin: 0;
    padding: 0;
}

.contact-form li {
    list-style: none;
}

.contact-form li label {
    font-weight: 500;
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
}

.contact-form-wrap p {
    text-align: center;
    width: 50%;
    margin: 20px 0px 30px 0px;
    font-size: 1.1rem;
}

#id_message {
    height: 170px;
    resize: none;
    padding: 10px;
}

.submit-form-button {
    width: 25%;
    height: 45px;
    background-color: #333;
    color: #F7F7F7;
    border: none;
}


.service-cards-mainwrap {
    flex-flow: row;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;




}

.service-cards-wrap {
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-flow: row;
    margin: 0;
    padding: 0;

}

.service-card {
    height: 510px;
    width: 350px;
    flex-flow: column;
    background-color: transparent;
    border: 1px solid #333;
    color: #333;
    box-shadow:
        0 2.8px 6.6px rgba(0, 0, 0, 0.07),
        0 6.7px 15.8px rgba(0, 0, 0, 0.05),
        0 12.5px 29.8px rgba(0, 0, 0, 0.042),
        0 22.3px 53.2px rgba(0, 0, 0, 0.035),
        0 41.8px 99.4px rgba(0, 0, 0, 0.028),
        0 100px 238px rgba(0, 0, 0, 0.02);

}

.services-wrap {
    flex-flow: row;
    height: 100%;

}

.top-card-title-wrap {
    width: 100%;
    padding: 15px;
    justify-content: space-between;
}

.service-card-icons {
    height: 24px;
    width: 24px;
}

.service-card-price-wrap {
    width: 100%;
    height: 200px;
}

.service-card-description {
    height: 100%;
    width: 100%;
    flex-flow: column;
    padding: 15px;
}

.service-card-description-text {
    font-weight: 600;
    font-size: 1.1rem;
}

.service-card-price {
    height: 100%;
    color: #333;
    background-color: #F7F7F7 !important;
}

.service-card-type-text {
    font-weight: 600;
    font-size: 1.6rem;
}

.service-card-price-text {
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
}

.service-card-btn-wrap {
    height: 75px;
    width: 100%;
}

.service-card-btn {
    z-index: 300;
}

.select-service-btn {
    width: 100%;
    height: 100%;
    background-color: #333;
    color: #F7F7F7;
    font-size: 1.2rem;
    cursor: pointer;
}

.service-offers-wrap {
    height: 100%;
    width: 100%;
    padding: 15px !important;
    flex-flow: column;
    justify-content: space-evenly;

}

.service-offer-text {
    font-weight: 400;
    align-self: flex-start;

}

.black-dots {
    margin-right: 10px;
}

/* 
========================
THANK YOU PAGE/FORM SENT
========================
*/

.thank-you-container {
    height: 100vh;
    flex-flow: column;
}

.thank-you-page-title {
    font-size: 3rem;
    margin: 0;
}

.thank-you-page-text {
    font-size: 30rem;
}

.thank-you-page-back-btn {
    width: 250px;
    height: 45px;
    font-size: 2rem;
    background-color: #333;
    color: #F7F7F7;
    
}