/* 
==============
LITTLE HELPERS
==============
*/

.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redborder {
    border: 1px solid red;
}

.blueborder {
    border: 1px solid blue;
}

.yellowborder {
    border: 1px solid yellow;
}

body,
html {
    background-color: #EDE4DF;
    color: #333;
    font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-scrollbar {
    visibility: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    color: #333;
    opacity: 0.3;
    transition: 0.3s;
}

/* 
==============
MAIN HOME PAGE
==============
*/

.home-page-body {
    height: 100vh;
}

.container {
    padding: 0;
}

nav {
    height: 200px;
    background-color: transparent;
    box-shadow: none;
}

.nav-wrapper {
    margin: 0;
    width: 100%;
}

.top-logo {
    width: 100%;
    height: fit-content;

    color: #333;
    padding: 0;
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    flex-flow: column;
    text-align: left;


}

.top-logo div {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;

}

/* 
==================
CENTER BLOCK STUFF
==================
*/

.center-block-wrap {
    height: 671px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    overflow: auto !important;

}

.contact-form-wrap {
    height: 100%;
}


.service-cards-mainwrap {
    flex-flow: column;
    width: 100%;
    justify-content: space-evenly;



}

.service-cards-wrap {
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    flex-flow: column;
    margin: 0;
    padding: 0;

}

.service-card {
    height: 200px;
    width: 100%;
    background-color: #333;
    color: #F7F7F7;

}

.service-card-description {
    height: 100%;
    flex-flow: column;
    padding: 15px;
}

.service-card-description-text {
    text-align: center;
    font-weight: 200;
}

.service-card-price {
    height: 100%;
    color: #333;
    background-color: #F7F7F7 !important;
}

.service-card-type-text {
    font-weight: 200;
    font-size: 2rem;
    text-transform: uppercase;
}

.service-card-price-text {
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0;
}